<h1 align="center">Users Information</h1>
<div align="center">
  <%= will_paginate %>
    <% if logged_in? %>
      <% @users.each do |user| %>
       <% if current_user.admin? || user.houses.count > 0 %>
         <div class = "jumbotron text-center">
           <div class=" text-center ">
             <p><%= link_to gravatar_for(user), user_path(user) %></p>
             <p><%= link_to user.username.capitalize, user_path(user) %></p>
             <small><%= pluralize(user.houses.count, "house") if user.houses %></small>
             <% if current_user.admin? %>
              <p><%= link_to 'Delete this User', user_path(user), method: :delete,
              data: {confirm: "Are you surely wanna remove the user?"},class: "btn btn-xs btn-danger" %><p>
             <% end %>
           </div>
         </div>
       <% end %>
      <% end %>
    <% end %>
  <%= will_paginate %>
</div>
