<h2 align="center"><%= @user.username.capitalize %></h2>
<h3> User Information </h3>
<b><p>Email-id : <%= @user.email %></p></b>
<%= 'My houses' if current_user == User.find(params[:id])  %>
<%= 'Other houses' if current_user != User.find(params[:id]) %>
 <%= render 'houses/house', obj: @user.houses %>
 <% if current_user == User.find(params[:id]) || current_user.admin? %>
 <p><%= link_to "Create new House Profiles", new_house_path %></p>
 <% end %>
