<!DOCTYPE html>
<html>
  <head>
    <title>Homeapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    <% if logged_in? %>
    <p><%= link_to 'Log out', logout_path, method: :delete %></p>
  <% else %>
    <p><%= link_to 'Log in', login_path %></p>
    <p><%= link_to 'Sign Up', signup_path %></p>
    <% end %>
  <%= render 'layouts/messages' %>
        <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
